@import url("https://fonts.googleapis.com/css2?family=Lora:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region - Typography -  */
* {
  font-family: "Open Sans", sans-serif;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
p::selection {
  @apply bg-accent text-accent-darkest;
}

html,
body {
  @apply bg-accent-lightest;
}

h1 {
  @apply text-4xl tracking-normal text-accent-darkest sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl md:text-4xl tracking-normal text-accent-darkest mb-4;
}

h1,
h2,
h3 {
  @apply font-bold uppercase;
  font-family: "Lora", serif;
}

h3 {
  @apply font-semibold
              text-lg
              uppercase
              font-serif
              tracking-wider mb-3;
}

h4 {
  @apply font-semibold mb-2;
}

p {
  @apply text-lg text-accent-darkest;
}

ul:not(.unstyled) {
  @apply space-y-1;
}

ul:not(.unstyled) li {
  @apply pl-4 text-black;
}

ul:not(.unstyled) li::before {
  @apply text-accent;
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

/* #endregion - Typography -  */

/* #region - Inputs - */

a.with-underline {
  @apply relative transition w-max hover:text-accent;
}

a.with-underline::before {
  @apply absolute bottom-0 left-0 w-full transition;
  content: " ";
  height: 1px;
  transform: translateY(2px);
}

a.with-underline:hover::before {
  @apply bg-accent;
  transform: translateY(-1px);
}

input[type="text"]:not(.phone-number),
input[type="email"]:not(.text-base),
input[type="number"],
textarea,
select {
  @apply border-gray-400 focus:border-accent text-lg py-3 px-4 block w-full rounded-md;
}

.btn {
  @apply relative w-max
  inline-flex
  items-center
  border
  tracking-wide
border-accent-darkest
  font-bold
  transition
text-accent-darkest
  bg-accent-lightest
  focus:outline-none
  focus:ring-2 
  focus:ring-offset-2 
focus:ring-accent
  whitespace-nowrap;
}

.btn * {
  @apply relative z-20 transition-all duration-200;
}

.btn::before {
  @apply absolute inset-x-0  bottom-0 top-full bg-transparent transition-all duration-200 -m-px;
  content: "";
}

.btn:hover::before {
  @apply top-0 bg-accent;
}

.btn-light {
  @apply text-accent border-accent bg-transparent;
}

.btn-light:hover * {
  @apply text-accent-darkest;
}

.btn-hover-dark:hover * {
  @apply text-accent;
}

.btn-hover-dark:hover::before {
  @apply bg-accent-darkest;
}

.btn-xs {
  @apply px-2.5 py-1.5 text-xs rounded;
}

.btn-sm {
  @apply px-3 py-2 text-sm leading-4 rounded-md;
}

.btn-md {
  @apply px-4 py-2 text-sm rounded-md;
}

.btn-lg {
  @apply px-4 py-2 text-base;
}

.btn-xl {
  @apply text-base px-10 py-3;
}

/* #endregion - Inputs -  */

/* #region - Nav - */

/* #region - Nav - */

.nav-item {
  @apply rounded-md
              inline-flex
              items-center
              text-base
              font-medium
              capitalize
              transition
              hover:text-accent
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-accent-light;
}

.nav-item-mobile {
  @apply mb-1
                    p-2
                    flex
                    items-center
                    rounded-md
                    capitalize
                    transition
                    hover:bg-accent-light
                    hover:text-accent-dark;
}

.nav-item-mobile__text {
  @apply ml-3 text-sm lg:text-base font-medium;
}

nav a {
  @apply text-black transition;
}

nav a:hover {
  @apply text-accent;
}

nav .router-link-active:not(.no-show-active) {
  @apply relative;
}

nav .router-link-active:not(.no-show-active).nav-item-mobile {
  @apply bg-accent;
}

nav .router-link-active:not(.no-show-active):not(.nav-item-mobile)::before {
  @apply bg-accent-light;
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  transition: all 0.2s ease-in-out;
  transform: translateY(2px);
}

/* #endregion */
